HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
# env variables used in /config/database.js
DATABASE_CLIENT=postgres 
# find the following in your Supabase > Project Settings > Database
# > Connection info (section)
DATABASE_HOST=db.project_id.supabase... # Host
DATABASE_NAME=postgres # Database name
DATABASE_USERNAME=postgres # User
DATABASE_PASSWORD=your_password # Password
# > Connection Pooling (section)
DATABASE_URL=postgres://...:[your_password]@....com:port/username # Connection string
DATABASE_PORT= 6543 # different from Connection info's Port